{
  email {$PULSE_GATEWAY_EMAIL}
}

{$PULSE_GATEWAY_DOMAIN} {
  encode zstd gzip
  reverse_proxy gateway:8787
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
  }
}
